:root{
    --primary-color: rgb(68, 168, 122);
    --primary-dark: rgb(54, 114, 86);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body{
    margin: 0;
    padding: 0;
    background: var(--primary-color);
}

.container {
    max-width: 640px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    margin: 50px auto;
    border-radius: 20px;
    text-align: center;
}

form input, form label{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: left;
}

form input{
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus{
    outline: 2px solid var(--primary-color);
}

form button{
    border: none;
    width: 100%;
    background: var(--primary-color);
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    height: 40px;
    cursor: pointer;

}

form button:hover{
    background-color: var(--primary-dark);
}

.tabela{
    display: flex;
    justify-content: space-evenly;
}

::placeholder{
    font-size: 15px;
    font-style: italic;
}
